* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root{
    font-size: 18px;
}

header {
    background-color: rgb(176, 158, 195);
    padding-top: 1.3em;
}
header ul {
    display: flex;
    margin-left: .75em;
    gap: 0.75em;
}

header ul li {
    list-style: none;
}

header button {
    padding: 0.4em 0.8em 0.2em 0.8em;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(166, 111, 218);
    border:none;
    border-radius: 8px 8px 0px 0;
    transition: all 0.3s ease-out;
}

header button:hover {
    background-color: rgb(136, 84, 185);
}
header button:active {
    background-color: rgb(80, 39, 119);
    transition:  none;
}

#content {
    display: grid;
    grid-template-columns: auto-fit minmax(800px, 1fr);
}

.content-body {
    grid-column-start: 2;
    padding: 2em;
}